@using HDProjectWeb.Models.Detalles;

@model IEnumerable<DetalleReq>

@foreach (var product in Model)
{
        <tr>
            <td></td>
            <td>@product.Item</td>
            <td>@product.Codigo</td>
            <td>@product.Descri</td>      
            <td>@product.Glosa</td>
            <td>@product.Unidad</td>
            <td>@product.Cantidad</td>
            <td>@product.Codprov</td>
            <td>@product.Nomprov</td>
        </tr>    
}