@model ProjectWeb_DRA.Models.OrdenCompra
@{
    ViewData["Title"] = " Aprobacion Orden de Compra ";
}
<head>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<h2 class="text-center">APROBACION DE ORDEN DE COMPRA</h2> <br />
<div class="form-group d-flex flex-row">
    <form asp-controller="OrdenCompra" asp-action="Aprobar" method="post">
        <input type="text" name="cia" value="@ViewBag.cia" style="display:none"/>
        <input type="text" name="suc" value="@ViewBag.suc" style="display:none"/>
        <input type="text" name="usu" value="@ViewBag.usu" style="display:none"/>
        <input type="text" name="epk" value="@ViewBag.epk" style="display:none"/>
        <input type="text" name="num" value="@ViewBag.num" style="display:none"/>
        <button type="submit" style="width:120px;height:40px" class="btn btn-primary ms-3 me-3">Aprobar</button>
    </form>
    <form asp-controller="OrdenCompra" asp-action="Rechazar" method="post">
        <input type="text" name="cia" class="ms-2" value="@ViewBag.cia" style="width:30px;display:none" />
        <input type="text" name="suc" class="ms-2" value="@ViewBag.suc" style="width:30px;display:none" />
        <input type="text" name="usu" class="ms-2" value="@ViewBag.usu" style="width:60px;display:none"/>
        <input type="text" name="epk" class="ms-2" value="@ViewBag.epk" style="width:60px;display:none" />
        <button type="submit" style="width:120px;height:40px" class="btn btn-primary ms-3 me-3">Rechazar</button>
    </form>
    <form asp-controller="OrdenCompra" asp-action="Devolver" method="post">
        <input type="text" name="cia" class="ms-2" value="@ViewBag.cia" style="width:30px;display:none" />
        <input type="text" name="suc" class="ms-2" value="@ViewBag.suc" style="width:30px;display:none" />
        <input type="text" name="usu" class="ms-2" value="@ViewBag.usu" style="width:60px;display:none"/>
        <input type="text" name="epk" class="ms-2" value="@ViewBag.epk" style="width:60px;display:none" />
        <button type="submit" style="width:120px;height:40px" class="btn btn-primary ms-3 me-3">Devolver</button>
    </form>
</div>
<div>
    <div class="col-md-4">
        <form >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table id="Table-Main"> 
                <tbody class="m-2">
                    <!-- 1RA FILA HORIZONTAL-->
                    <tr class="mb-5">
                        <th class="col-sm-4">
                            <div class="form-group d-flex flex-row me-2">
                                <label class="me-2">Numero</label>
                                <input asp-for="Occ_numero" class="form-control form-control-sm col-sm-4" style="width:300px" type="text" />
                                <span asp-validation-for="Occ_numero" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-5">
                                <label >Fecha de registro</label>
                                <input asp-for="Occ_feccre" class="form-control ms-1 mt-1" style="width:250px;height:32px" />
                                <span asp-validation-for="Occ_feccre" class="text-danger"></span>
                            </div>
                        </th>   
                        <th>
                            <div class="form-group d-flex flex-row ms-5">
                                <label>Emision</label>
                                <input asp-for="Occ_fecemi" class="form-control ms-1" style="width:250px;height:32px" />
                                <span asp-validation-for="Occ_fecemi" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-xl-5 me-2">
                                <label class="me-2">Tipo_OC</label>
                                <input asp-for="Tco_nombre" class="form-control" style="width:245px;height:32px" type="text" />
                                <span asp-validation-for="Tco_nombre" class="text-danger"></span>
                            </div>
                        </th>
                        
                        <th>
                            <div class="d-flex flex-row ms-xl-5">
                                <label>Estado </label>
                                <select asp-for="Occ_estado" id="cbo_estado" class="ms-4" disabled>
                                    <option value="1">APROBADO</option>
                                    <option value="0">PENDIENTE</option>
                                </select>
                            </div>
                        </th>
            
                    </tr>
                    <!-- 2DA FILA HORIZONTAL-->
                    <tr>
                        <th colspan="2">
                            <div class="form-group d-flex flex-row me-2">
                                <label class="me-2">Proveedor</label>
                                <input asp-for="Ccr_codccr" class="form-control me-2" style="width:150px;height:32px" type="text" />
                                <span asp-validation-for="Ccr_codccr" class="text-danger"></span>
                                <input asp-for="Ccr_nomaux" class="form-control" style="width:525px;height:32px" type="text" />
                                <span asp-validation-for="Ccr_nomaux" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-5">
                                <label class="me-2">Moneda</label>
                                <input asp-for="Mon_desmon" class="form-control me-2" style="width:245px;height:32px" type="text" />
                                <span asp-validation-for="Mon_desmon" class="text-danger"></span>
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-5">
                                <label class="me-4">TasaIGV</label>
                                <input asp-for="Occ_impigv" class="form-control me-2" style="width:190px;height:32px" type="text" />
                                <span asp-validation-for="Occ_impigv" class="text-danger"></span>

                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-xl-5 me-2">
                                <label class="me-3">Tipo cambio</label>
                                <input asp-for="Occ_tcaocc" class="form-control mt-1" style="width:100px;height:32px" type="text" />
                                <span asp-validation-for="Occ_tcaocc" class="text-danger"></span>
                            </div>
                        </th>
                        
                    </tr>
                    <!-- 3RA FILA HORIZONTAL-->
                    <tr style="height:50px">
                        <th colspan="2">
                            <div class="form-group d-flex flex-row me-2">
                                <label class="me-5">Glosa</label>
                                <input asp-for="Occ_observ" class="form-control me-2" style="width:680px;height:32px" type="text" />
                                <span asp-validation-for="Occ_observ" class="text-danger"></span>
                                
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-5">
                                <label class="me-2">Condicion_Pago</label>
                                <input asp-for="Cpg_deslar" class="form-control me-2" style="width:190px;height:32px" type="text" />
                                <span asp-validation-for="Cpg_deslar" class="text-danger"></span>
                               
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-5">
                                <label class="me-2">Detraccion</label>
                                <input asp-for="Occ_impdet" class="form-control me-2" style="width:190px;height:32px" type="text" />
                                <span asp-validation-for="Occ_impdet" class="text-danger"></span>
                               
                            </div>
                        </th>
                        <th>
                            <div class="form-group d-flex flex-row ms-5">
                                <label class="me-2">Impuesto</label>
                                <input asp-for="Imp_desimp" class="form-control me-2" style="width:120px;height:32px" type="text" />
                                <span asp-validation-for="Imp_desimp" class="text-danger"></span>

                            </div>
                        </th>
                    </tr>          
                </tbody>
            </table><br />  

            <ul class="nav nav-pills ms-3 mb-3 mt-2" id="pills-tab" role="tablist" style="width:1000px">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-det-tab" data-bs-toggle="pill" data-bs-target="#pills-det" type="button" role="tab" aria-controls="pills-det" aria-selected="true">Detalle</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-detfec-tab" data-bs-toggle="pill" data-bs-target="#pills-detfec" type="button" role="tab" aria-controls="pills-detfec" aria-selected="false">Fechas de Entrega</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-detcco-tab" data-bs-toggle="pill" data-bs-target="#pills-detcco" type="button" role="tab" aria-controls="pills-detcco" aria-selected="false">Centro de Costos</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-detref-tab" data-bs-toggle="pill" data-bs-target="#pills-detref" type="button" role="tab" aria-controls="pills-detref" aria-selected="true">Referencias</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-detaprb-tab" data-bs-toggle="pill" data-bs-target="#pills-detaprb" type="button" role="tab" aria-controls="pills-detaprb" aria-selected="false">Aprobaciones</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-detcot-tab" data-bs-toggle="pill" data-bs-target="#pills-detcot" type="button" role="tab" aria-controls="pills-detcot" aria-selected="false">Cotizacion</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-det" role="tabpanel" aria-labelledby="pills-det-tab">
                    <div class="table ms-3">
                        <table id="tblDetalleCco_Prd" class="table table-bordered table-hover">
                            <thead class="table-primary">
                                <tr> 
                                    <th>Item</th>
                                    <th>Descripcion</th>
                                    <th>Tin</th>
                                    <th>Detalle</th>
                                    <th>Cantidad Solicitada</th>
                                    <th>Cantidad Ajuste</th>
                                    <th>Porcentaje Ajuste</th>
                                    <th>Precio Unitario</th>
                                    <th>Imp bruto</th>
                                    <th>Imp descuento</th>
                                    <th>Importe igv</th>
                                    <th>Importe total</th>
                                    <th>Valor venta</th>
                                </tr>

                            </thead>
                            <tbody id="tbody_prd" class="table table-bordered">
                                @await Component.InvokeAsync("DetalleCcoPrd",ViewBag.epk)
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-detfec" role="tabpanel" aria-labelledby="pills-detfec-tab">...</div>
                <div class="tab-pane fade" id="pills-detcco" role="tabpanel" aria-labelledby="pills-detcco-tab">...</div>
                <div class="tab-pane fade" id="pills-detref" role="tabpanel" aria-labelledby="pills-detref-tab">...</div>
                <div class="tab-pane fade" id="pills-detaprb" role="tabpanel" aria-labelledby="pills-detaprb-tab">...</div>
                <div class="tab-pane fade" id="pills-detcot" role="tabpanel" aria-labelledby="pills-detcot-tab">...</div>
            </div> 
            <p style="color:red">View_OrdenCompra/Aprobacion </p>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
